{% extends "base.html" %}
{% from "macros.html" import render_pagination,render_group%}

{% block title %}全部组织{% endblock %}


{% block body %}
<div class="jumbotron">
  <h4>全部组织</h4>
</div>

{% if pagination.total == 0 %}
    <div align="center" >
      <img src="{{ url_for('static', filename='images/no_company.png') }}" width="200">
      <h3>查无组织（使用搜索框）</h3>
    </div>
{% endif %}

<div class="company-list">
{% for group in pagination.items %}
  {{ render_group(group) }}
{% endfor %}
</div>

{{ render_pagination(pagination, 'group.index', kw=kw) }}

<div id="barCharts" style="width: 1000px;height:500px;"></div>
{% endblock %}