<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/><script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.carousel.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.prettyPhoto.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/superfish.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.flexslider-min.js') }}" type="text/javascript"></script>

</head>

{% extends "base.html" %}
{% from "macros.html" import render_group, render_pagination %}

{% block title %}生物组织{% endblock %}

{% block body %}
<div class="row" style="padding-top: 32px">
  <div class="panel panel-default col-md-3">
    <h4 class="panel-heading heading">生物组织</h4>
    <div class="list-group panel-body">
      <a href="{{ url_for('group.growthTrend') }}" class="list-group-item">组织成长趋势</a>
      <a href="{{ url_for('group.event2') }}" class="list-group-item">组织活跃程度</a>
      <a href="{{ url_for('group.group_address') }}" class="list-group-item">组织地理分布</a>
      <a href="{{ url_for('group.event2') }}" class="list-group-item">组织</a>
    </div>
  </div>
  <div class="col-md-9">
    {% block right %}
<div class="company-list">
{% for group in pagination.items %}
  {{ render_group(group) }}
{% endfor %}
</div>

{{ render_pagination(pagination, 'group.index', kw=kw) }}
    {% endblock %}
  </div>
</div>
{% endblock %}
</html>